

<div id="main-wrapper" class="show">

  <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
          <a href="index.html" class="brand-logo">
              <img class="logo-abbr" src="./images/logo.png" alt="">
              <img class="logo-compact" src="./images/logo-text.png" alt="">
              <img class="brand-title" src="./images/logo-text.png" alt="">
          </a>

          <div class="nav-control">
              <div class="hamburger">
                  <span class="line"></span><span class="line"></span><span class="line"></span>
              </div>
          </div>
      </div>
      <!--**********************************
          Nav header end
      ***********************************-->

      <!--**********************************
          Header start
      ***********************************-->
      <div class="header">
          <div class="header-content">
              <nav class="navbar navbar-expand">
                  <div class="collapse navbar-collapse justify-content-between">
                      <div class="header-left">
                          <div class="search_bar dropdown">
                              <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                  <i class="mdi mdi-magnify"></i>
                              </span>
                              <div class="dropdown-menu p-0 m-0">
                                  <form>
                                      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                  </form>
                              </div>
                          </div>
                      </div>

                      <ul class="navbar-nav header-right">
                          <li class="nav-item dropdown notification_dropdown">
                              <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                  <i class="mdi mdi-bell"></i>
                                  <div class="pulse-css"></div>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <ul class="list-unstyled">
                                      <li class="media dropdown-item">
                                          <span class="success"><i class="ti-user"></i></span>
                                          <div class="media-body">
                                              <a href="#">
                                                  <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                  </p>
                                              </a>
                                          </div>
                                          <span class="notify-time">3:20 am</span>
                                      </li>
                                      <li class="media dropdown-item">
                                          <span class="primary"><i class="ti-shopping-cart"></i></span>
                                          <div class="media-body">
                                              <a href="#">
                                                  <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                              </a>
                                          </div>
                                          <span class="notify-time">3:20 am</span>
                                      </li>
                                  </ul>
                                  <a class="all-notification" href="#">See all notifications <i
                                          class="ti-arrow-right"></i></a>
                              </div>
                          </li>
                          <li class="nav-item dropdown header-profile">
                              <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                  <i class="mdi mdi-account"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a href="./app-profile.html" class="dropdown-item">
                                      <i class="icon-user"></i>
                                      <span class="ml-2">Profile </span>
                                  </a>
                                  <a href="./email-inbox.html" class="dropdown-item">
                                      <i class="icon-envelope-open"></i>
                                      <span class="ml-2">Inbox </span>
                                  </a>
                                  <a href="./page-login.html" class="dropdown-item">
                                      <i class="icon-key"></i>
                                      <span class="ml-2">Logout </span>
                                  </a>
                              </div>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
      <!--**********************************
          Header end ti-comment-alt
      ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="quixnav">
      <div class="quixnav-scroll">
          <ul class="metismenu" id="menu">

              <li>
                  <a href="">
                      <i class="icon icon-app-store"></i>Dashboard
                  </a>
              </li>

              <ng-container *ngIf="role === 'administrateur'">

                <li><a routerLink="/users">
                    <i class="icon icon-single-04"></i>Utilisateurs</a>
                </li>
                <li>
                    <a routerLink="/classes">
                    <i class="icon icon-layout-25"></i>Classes</a>
                </li>
                <li>
                    <a routerLink="/admin/cours">
                    <i class="icon icon-globe-2"></i>Cours</a> 
                </li>
                <li>
                    <a routerLink="/admin/eleves">
                    <i class="icon icon-single-04"></i>Eleves</a>
                </li>
                <li>
                    <a routerLink="/admin/enseignants">
                    <i class="icon icon-user"></i>Enseignants</a>
                </li>
                <li>
                    <a routerLink="/admin/bulletins"> 
                    <i class="icon icon-layout-25"></i>Bulletins
                    </a>
                </li>
              </ng-container>

              <ng-container *ngIf="role === 'enseignant'">
                  <li>
                      <a routerLink="/enseignant/dashboard">
                          <i class="icon icon-home"></i>Accueil Enseignant
                      </a>
                  </li>
                  <li>
                      <a routerLink="/enseignant/notes">
                          <i class="icon icon-book-open"></i>Notes
                      </a>
                  </li>
              </ng-container>

              <ng-container *ngIf="role === 'administrateur'">
                  <li>
                      <a routerLink="/eleve-parent/bulletins">
                          <i class="icon icon-docs"></i>Mes bulletins
                      </a>
                  </li>
              </ng-container>

          </ul>
      </div>
    </div>
    <!--**********************************
      Sidebar end
    ***********************************-->

  <!-- Contenu principal à droite -->
  <div class="content-body" style="min-height: 1057px;">

    <!-- Contenu dynamique -->
    <div class="container-fluid mt-5" >

      <router-outlet></router-outlet>

    </div>

  </div>


</div>

